#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

main p {
    padding: 0 12px;
    text-align: left;
}

@media (max-width: 875px) or (orientation: portrait) {
    main {
        grid-template-columns: 1fr;
    }

    aside {
        margin-bottom: 20px;
    }
}

nav {
    border: 2px solid white;
}